flows_sumaprasadgl.json
[{"id":"da1f1636.c29258","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"11fce42e.50165c","type":"ui_form","z":"da1f1636.c29258","name":"","label":"User Details ","group":"9bd50d3e.d49c3","order":1,"width":0,"height":0,"options":[{"label":"No of Pregnancies","value":"preg","type":"number","required":true,"rows":null},{"label":"Glucose ","value":"plas","type":"number","required":true,"rows":null},{"label":"Blood Pressure","value":"pres","type":"number","required":true,"rows":null},{"label":"Skin Thickness","value":"skin","type":"number","required":true,"rows":null},{"label":"Insulin","value":"test","type":"number","required":true,"rows":null},{"label":"BMI","value":"mass","type":"number","required":true,"rows":null},{"label":"Diabetes Pedigree Function","value":"pedi","type":"number","required":true,"rows":null},{"label":"Age","value":"age","type":"number","required":true,"rows":null}],"formValue":{"preg":"","plas":"","pres":"","skin":"","test":"","mass":"","pedi":"","age":""},"payload":"","submit":"submit","cancel":"reset","topic":"","x":190,"y":380,"wires":[["3461f5c.bda438a","d68fbbe3.511938"]]},{"id":"3461f5c.bda438a","type":"debug","z":"da1f1636.c29258","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":460,"wires":[]},{"id":"d68fbbe3.511938","type":"function","z":"da1f1636.c29258","name":"pre-token","func":"global.set(\"preg\",msg.payload.preg)\nglobal.set(\"plas\",msg.payload.plas)\nglobal.set(\"pres\",msg.payload.pres)\nglobal.set(\"skin\",msg.payload.skin)\nglobal.set(\"test\",msg.payload.test)\nglobal.set(\"mass\",msg.payload.mass)\nglobal.set(\"pedi\",msg.payload.pedi)\nglobal.set(\"age\",msg.payload.age)\nvar apikey=\"I_xCR7YueORBegntAcgFx87Cj7cNc2m8sYmrKNKVdm2O\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":320,"wires":[["a7b0d0aa.2fa33"]]},{"id":"a7b0d0aa.2fa33","type":"http request","z":"da1f1636.c29258","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":512.0000038146973,"y":364.00000286102295,"wires":[["c110d625.5a204","c3e64160.dfd428"]]},{"id":"c110d625.5a204","type":"debug","z":"da1f1636.c29258","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":420,"wires":[]},{"id":"c3e64160.dfd428","type":"function","z":"da1f1636.c29258","name":"Pre Prediction","func":"var preg = global.get(\"preg\")\nvar plas = global.get(\"plas\")\nvar pres = global.get(\"pres\")\nvar skin = global.get(\"skin\")\nvar test = global.get(\"test\")\nvar mass = global.get(\"mass\")\nvar pedi = global.get(\"pedi\")\nvar age = global.get(\"age\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"preg\", \"plas\", \"pres\", \"skin\",\"test\",\"mass\",\"pedi\",\"age\"]],\"values\": [[preg,plas,pres,skin,test,mass,pedi,age]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":704.0000076293945,"y":316.0000021457672,"wires":[["71eb1f96.9f5808"]]},{"id":"71eb1f96.9f5808","type":"http request","z":"da1f1636.c29258","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/c7700925-342f-42a8-8734-2b6fbed834b2/predictions?version=2020-10-18","tls":"","persist":false,"proxy":"","authType":"","x":930,"y":340,"wires":[["5e8e2233.a00fc4","d8b8793c.9b6e8"]]},{"id":"5e8e2233.a00fc4","type":"debug","z":"da1f1636.c29258","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1082.9999914169312,"y":424.00000381469727,"wires":[]},{"id":"e236be5e.d8eb08","type":"inject","z":"da1f1636.c29258","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":220,"wires":[["d68fbbe3.511938"]]},{"id":"a9610ad0.74c83","type":"debug","z":"da1f1636.c29258","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":913.9999885559082,"y":207.0000057220459,"wires":[]},{"id":"d8b8793c.9b6e8","type":"function","z":"da1f1636.c29258","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":759.6000595092773,"y":248.00000190734863,"wires":[["a9610ad0.74c83","9737c7c1.7dff58"]]},{"id":"9737c7c1.7dff58","type":"ui_text","z":"da1f1636.c29258","group":"9bd50d3e.d49c3","order":2,"width":0,"height":0,"name":"","label":"Prediction (1-Yes, 0-No)","format":"{{msg.payload}}","layout":"row-spread","x":927.6000366210938,"y":481.20001220703125,"wires":[]},{"id":"9bd50d3e.d49c3","type":"ui_group","z":"","name":"User Details","tab":"dd2cb5ec.762938","order":1,"disp":true,"width":"6","collapse":false},{"id":"dd2cb5ec.762938","type":"ui_tab","z":"","name":"Diabetes-mellitus-prediction-using-IBM-Auto-AI-service","icon":"dashboard","disabled":false,"hidden":false}]